#wrapper{
    width:960px;
    margin:auto;
}
#header{
    width:100%;
    height:100px;
    background:rgba(10, 42, 112, 0.834);
    margin-bottom:10px;
    overflow: hidden;
}
#header img{
    float:left;
    width: 95px;px;
    height: 95px;px;
    padding-left:30px;
    padding-top:3px;
    padding-right:20px;
    margin-bottom: 20px;
}
#header form{
    float: right;
}
#header h1{
    padding-top:5px ;
    font-size:27px;
    color: white;
    margin-left: 20px;
    font-family: calibri, arial, tahoma, verdana, sans-serif;
    font-weight: bold;

}
#menu-utama{
    margin-top: 3px;
    list-style: none;
}
#menu-utama li{
    float: left;
    padding: 8px 20px;
    border-right: 1px solid white;
}
#menu-utama li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
#menu-tama li a:hover{
    color:red
}
#content-atas{
    padding: 20px;
    background: rgba(10, 42, 112, 0.834);
    margin-bottom: 10px;
    overflow: hidden;
}
#artikel{
    width: 600px;
    height: 1120px;
    float: left;
    background:white;
}
#artikel img{
    width: 550px;
    height: 250px;
    padding-left: 20px;
    padding-top: 18px;
    padding-right: 20px;
}
#artikel h1{
    padding-left:20px ;
    text-align: justify;
    padding-right: 20px;
    margin-bottom: 3px;
    color: blue;
}

#artikel h1:hover{
    color : red;
}
#artikel p{
    text-align: justify;
    padding-left:20px ;
    padding-right: 20px;
}
#sidebar{
    width: 300px;
    height: 200px;
    float: right;
}
.sidebar1{
    background: white;
    overflow: hidden;
    padding: 3px;
    margin-bottom: 10px;
}
.sidebar1 img{
    float: left;
    width: 100px;
    height: 100px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 15px;
}
.sidebar1 h3:hover{
    color: red;
}
.sidebar1 h3{
    color: blue;
}
.sidebar1 p{
    text-align: justify;
    padding-left: 3px;
    padding-right: 3px;
}
.sidebar1 p:hover{
    color: red;
}
#content-bawah{
    width: 100%;
    height: 200px;
    padding-top: 20px;
    overflow: hidden;
    background-color: rgba(10, 42, 112, 0.834);
}
.foto img{
    width: 200px;
    height: 150px;
    float: left;
    padding-top: 15px;
    padding-left:30px;
}
#judul-foto h1{
    text-align: center;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
    margin-top: 5px;
}
#footer{
    width: 100%;
    height: 30px;
    background-color: rgba(10, 42, 112, 0.834);
}
#footer p{
    text-align: center;
    color:white ;
    padding-top: 5px;
    font-size: 16px;
}